LOG_LEVEL=debug
MOCK_API=false
OFFLINE_MODE=false

#NEXT_PUBLIC_BASE_URL

AUTH_SERVICE_URL=http://localhost:5001
IDENTITY_SERVICE_URL=http://localhost:5002
GUARDIAN_SERVICE_URL=http://localhost:5003
PROJECT_SERVICE_URL=http://localhost:5004
STORAGE_SERVICE_URL=http://localhost:5005
BASIC_IO_SERVICE_URL=http://localhost:5006
